body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%px;
}
body{
    margin-left: calc(calc(100% - 100%) / 2);
}
.cabecalho{
height: calc(100% * 0,20);  
background-color: #e0e0e0;
 
}
.cabecalho h1 {
    margin-left: 30px;
    color: black;
    font-size: 30px;
}
.cabecalho h1{
    text-decoration: none;
    color: black;
}
.cabecalho a{
    font-size: 15px;
}
.cabecalho a:link{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.cabecalho a:active{
    color: white;
}
.cabecalho a:hover{
  color: #21997b;

}
.cabecalho a:visited{
  color:#145948;
}
.cabecalho td:hover{
    background-color:  white;
    
}
.cabecalho table{
    border: 2px solid #21997b;
    background-color: #21997b;
    width: 100%;

}
.cabecalho td{

padding: 10px;
box-shadow: 10px 5px 5px #115b49;
}
.cabecalho h1, table{
    display: inline-block;
}
.cabecalho table{
   margin-bottom: 0;
    margin-top: 20px;
    border-bottom: 4px solid #155646; 
}
.cabecalho table{
    margin-top: calc(100% * 0,10); 
}
.conteudo{
    height: calc(100% * 0,70);    
    width: 100%;
}
.conteudo {
display: center;
width: calc(100% * 0,50);
margin-left: calc(calc(100% - 100%) / 2);
}
.conteudo p{
    font-style: serif;
    padding: 0;
}
.rodape{
    border-top: 4px solid #155646;
    height: calc(100% * 0,20);
    background-color:white;

}
.rodape {
    background-color: #21997b;
    text-align: center;
    color:white;
    text-shadow: 5px 5px 5px #115b49;
}
.rodape p, .rodape  a, .rodape td {
    font-weight: bolder;
    font-size: 20px;

}
.rodape td{
    padding: 3px;
}
/** pessoal **/
.subconteudo{
    margin-left: 5%;
}
.conteudo1{
    margin-left: 2%;
    margin-bottom: 5%;
}
.subconteudo, .conteudo1{
    display: inline-block;
}
.subconteudo2{
    margin-left: 5%;
}
.conteudo2{
    margin-left: 2%;
    margin-bottom: 5%;
}
.subconteudo2, .conteudo2{
    display: inline-block;
}
body h1{
    margin-left: 4px;
}
/** pessoa kevin **/
.corpo_texto{
    -webkit-column-count:2; /* para funcionar Chrome, Safari, Opera */
    -moz-column-count:2;    /* para funcionar  Firefox */
    column-count:2;    /* serve para divider texto ao meio dentro de elementos*/ /* padrão */
    margin-top: 5px;
    border: 10px;
    text-align: justify;
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px;
}
#titulo {
    display: inline-block; /* alinhando titulo texto */
    text-align: center;
    margin-left: 50px;
    margin-top: 60px;
    

}
#itaipu{   /* espaçamento da fonte img  */
    margin-left: 59%;
    margin-top: -38px;
    }

.img_hidraulica img { /* configuração da imagem 1*/
      width: 500px;
    height: 400px;
    margin-top: 90px;
    margin-left: 80px;
    border: 4px solid #21997b;
}
    
.img_hidraulica2 img {
    display: inline-block; /* configuração da imagem 2 */
    width: 400px;
    height: 400px;
    float: right;
    margin-top: -411px;
    margin-right: 180px;
    border: 4px solid #21997b;
}
#esquema { /* espaçamento da fonte img 2 */
margin-left: 80px;
}

